// Scrollbar

// body {
//   // IE scrollbar styles
//   scrollbar-base-color: #181818;
//   scrollbar-face-color: #404040;
//   scrollbar-3dlight-color: #181818;
//   scrollbar-highlight-color: #404040;
//   scrollbar-track-color: #181818;
//   scrollbar-arrow-color: #404040;
//   scrollbar-shadow-color: #181818;
//   scrollbar-darkshadow-color: #181818;
// }

// // Google Chrome (Windows) scrollbar styles
// ::-webkit-scrollbar {
//   width: 20px;
//   background: transparent;
// }

// ::-webkit-scrollbar-button {
//   display: none;
// }

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 100px;
//   background: #aaaaaacc;
//   background-clip: content-box;
//   border: solid 8px transparent;
// }

// btn

.btn-container {
  display: flex;
  place-content: center;
  place-items: center;
  width: fit-content;
  height: fit-content;
  flex: none;
  background: none;
  &:hover {
    cursor: pointer;
  }
}

.btn {
  display: flex;
  place-content: center;
  place-items: center;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  height: 32px;
  width: 32px;
  overflow: hidden;
  user-select: none;
  flex: none;

  &:hover {
    cursor: pointer;
  }
}

.btn-sm {
  height: 24px;
  width: 24px;
}

.btn-xs {
  height: 20px;
  width: 20px;
}

.btn-hover {
  border-radius: 4px;

  &:hover {
    background-color: $background-active-fill;
  }
}

// icon

.btn-icon {
  display: flex;
  place-content: center;
  place-items: center;
  display: block;
  height: 24px;
  width: 24px;
}

.btn-icon-sm {
  height: 20px;
  width: 20px;
}

.btn-icon-xs {
  height: 16px;
  width: 16px;
}

.btn-icon-xxs {
  height: 14px;
  width: 14px;
}

.icon-fill-default {
  flex: none;
  color: $icon-state-default;
}

// profile images

.icon-profile {
  position: relative;
  display: flex;
  place-items: center;
  place-content: center;
  width: 32px;
  height: 32px;
  flex: none;
  background-color: $background-grey;
  border-radius: 999px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;

  &.icon-profile-hover {

    &:hover {
      opacity: 0.75;
    }
  }
}

.icon-profile-sm {
  width: 24px;
  height: 24px;
}

// spacers 

.seperator-hrt {
  display: block;
  background-color: $background-hover-fill;
  width: 32px;
  height: 2px;
  margin-bottom: 8px;
  flex: none;
}

.seperator-vrt {
  display: block;
  background-color: $background-active-fill;
  width: 2px;
  height: 32px;
  margin: 0 16px;
  flex: none;
}

// images

.full-img {
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
}


// .partner-badge {
//   position: relative;
//   display: flex;
//   place-items: center;
//   place-content: center;

//   .icon-partner-badge-base {
//     width: 16px;
//     height: 16px;
//     color: $primary-blue;
//   }

//   .icon-partner-badge-top {
//     position: absolute;
//     width: 14px;
//     z-index: 1;
//   }
// }