Scrollbar body {
  // IE scrollbar styles
  scrollbar-base-color: #181818;
  scrollbar-face-color: #404040;
  scrollbar-3dlight-color: #181818;
  scrollbar-highlight-color: #404040;
  scrollbar-track-color: #181818;
  scrollbar-arrow-color: #404040;
  scrollbar-shadow-color: #181818;
  scrollbar-darkshadow-color: #181818;
}

// Google Chrome (Windows) scrollbar styles
::-webkit-scrollbar {
  width: 20px;
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #aaaaaacc;
  background-clip: content-box;
  border: solid 8px transparent;
}

.btn-container {
  display: flex;
  place-content: center;
  place-items: center;
  width: auto;
  height: auto;
  background: none;
  flex: none;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  display: flex;
  place-content: center;
  place-items: center;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  height: 32px;
  width: 32px;
  overflow: hidden;
  user-select: none;
  flex: 0 0 auto;

  &:hover {
    cursor: pointer;
  }
}

.btn-sm {
  height: 24px;
  width: 24px;
}

.btn-xs {
  height: 20px;
  width: 20px;
}

.btn-xxs {
  height: 16px;
  width: 16px;
}

.btn-hover {
  border-radius: 4px;

  &:hover {
    background-color: $background-active-fill;
  }
}

// icon

.btn-icon {
  display: flex;
  place-content: center;
  place-items: center;
  display: block;
  height: 24px;
  width: 24px;
  flex: 0 0 auto;
}

.btn-icon-sm {
  height: 20px;
  width: 20px;
}

.btn-icon-xs {
  height: 16px;
  width: 16px;
}

.btn-icon-xxs {
  height: 14px;
  width: 14px;
}

// .icon-fill-default {
//   flex: 0 0 auto;
//   color: $icon-state-default;
// }

// profile images

.icon-profile {
  display: flex;
  place-items: center;
  place-content: center;
  width: 32px;
  height: 32px;
  max-width: 32px;
  max-height: 32px;
  background-color: $background-grey;
  border-radius: 999px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  overflow: hidden; //// **********
  cursor: pointer;
  flex: 0 0 auto;

  &.icon-profile-hover {

    &:hover {
      opacity: 0.75;
    }
  }
}

.icon-profile-sm {
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
  border-radius: 999px;
  // overflow: hidden;
}

// spacers 

.seperator-hrt {
  display: block;
  background-color: $background-hover-fill;
  width: 32px;
  height: 2px;
  margin-bottom: 8px;
  flex: 0 0 auto;
}

.seperator-vrt {
  display: block;
  background-color: $background-active-fill;
  width: 2px;
  height: 32px;
  margin: 0 16px;
  flex: 0 0 auto;
}

// images

.full-img {
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
}

//  badges

.badge__header {
  position: absolute;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $secondary-red;
  box-shadow: 0 0 0 2px $background-grey;
  bottom: 2px;
  right: 2px;
}

.badge__online {
  content: url('/app/assets/icons/online_24dp.svg');
}

.badge__idle {
  content: url('/app/assets/icons/idle_24dp.svg');
  position: absolute;
  display: flex;
  place-items: center;
  place-content: center;
  width: 10px;
  height: 10px;
  background-color: $background-panel-grey;
  box-shadow: 0 0 0 3px $background-panel-grey, inset 0 0 0 4px $background-panel-grey;
  border-radius: 999px;
  bottom: -2px;
  right: -2px;
  cursor: pointer;
  z-index: 1;
}

.badge__do-not-disturb {
  content: url('/app/assets/icons/do_not_disturb_24dp.svg');
}

.room-activity {

  .admin {
    color: $secondary-yellow;
  }

  .moderator {
    color: $secondary-purple;
  }

  .normal {
    color: $secondary-green;
  }
}