body {
  // IE scrollbar styles
  scrollbar-base-color: #181818;
  scrollbar-face-color: #404040;
  scrollbar-3dlight-color: #181818;
  scrollbar-highlight-color: #404040;
  scrollbar-track-color: #181818;
  scrollbar-arrow-color: #404040;
  scrollbar-shadow-color: #181818;
  scrollbar-darkshadow-color: #181818;
}

// Google Chrome (Windows) scrollbar styles
::-webkit-scrollbar {
  // display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background: palevioletred;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #aaaaaacc;
  background-clip: content-box;
  border: solid 8px transparent;
}

.btn-container {
  display: flex;
  place-content: center;
  place-items: center;
  width: auto;
  height: auto;
  background: none;
  flex: none;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  display: flex;
  place-content: center;
  place-items: center;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  height: 32px;
  width: 32px;
  overflow: hidden;
  user-select: none;
  flex: 0 0 auto;

  &:hover {
    cursor: pointer;
  }
}

.btn-sm {
  height: 24px;
  width: 24px;
}

.btn-xs {
  height: 20px;
  width: 20px;
}

.btn-xxs {
  height: 16px;
  width: 16px;
}

.btn-hover {
  border-radius: 4px;

  &:hover {
    background-color: $background-active-fill;
  }
}

// icon

.btn-icon {
  display: flex;
  place-content: center;
  place-items: center;
  height: 24px;
  width: 24px;
  flex: 0 0 auto;
}

.btn-icon-sm {
  height: 20px;
  width: 20px;
}

.btn-icon-xs {
  height: 16px;
  width: 16px;
}

.btn-icon-xxs {
  height: 14px;
  width: 14px;
}

// spacers 

.seperator-hrt {
  display: block;
  background-color: $background-hover-fill;
  width: 32px;
  height: 2px;
  margin-bottom: 8px;
  flex: 0 0 auto;
}

.seperator-vrt {
  display: block;
  background-color: $background-active-fill;
  width: 2px;
  height: 32px;
  margin: 0 16px;
  flex: 0 0 auto;
}

// images

.full-img {
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
}

// profile image

.icon-profile {
  display: flex;
  place-items: center;
  place-content: center;
  width: 32px;
  height: 32px;
  background-color: $background-grey;
  border-radius: 999px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  flex: 0 0 auto;

  &.icon-profile-hover {

    &:hover {
      opacity: 0.75;
    }
  }
}

.icon-profile-sm {
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
  border-radius: 999px;
}

// mask

.user-profile-image {
  position: relative;
  width: 32px;
  height: 32px;
  flex: 0 0 auto; 
}

.icon-status-mask {
  mask: url(/app/assets/icons/icon_profile_mask_32.svg#icon-profile-mask);
  mask-image: url(/app/assets/icons/icon_profile_mask_32.svg#icon-profile-mask);
}

.badge-online {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url('/app/assets/icons/online_24dp.svg');
  background-position: center;
  background-repeat: no-repeat;
  right: 0.5px;
  bottom: 0;
  z-index: 2;
}

.badge-idle {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url('/app/assets/icons/idle_24dp.svg');
  background-position: center;
  background-repeat: no-repeat;
  right: 0.5px;
  bottom: 0;
  z-index: 2;
}

.badge-do-not-disturb {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url('/app/assets/icons/do_not_disturb_24dp.svg');
  background-position: center;
  background-repeat: no-repeat;
  right: 0.5px;
  bottom: 0;
  z-index: 2;
}