// Colors
$fill-black: #202225;
$fill-grey: #2f3136;
$fill-light-grey: #36393f;
$fill-white: #ffffff;
$default: #8e9297;
$text-normal: #dcddde;

$accent-green: #43b581;
$accent-purple: #8257af;
$accent-blue: #6f85d2;
$accent-red: #f04747;
$accent-orange: #faa61a;

$accent-green-alt: #22ab92;
$accent-blue-alt: #0b9ac9;

// Fonts

$font-size: (
	"default": 16px,
	"large": 1.2rem,
	"medium": 0.875rem,
	"small": 0.75rem,
);

// Units

$opacity: 0.54;
$lineHeight: 1.1rem;
