@import './reset';
@import './variables';
@import './global';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

html,
body {
  font-size: 100%;
  font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  height: 100vh;
  overflow: hidden;
}

// ****** @MIXIN ****** //

// center container
@mixin flex-center($flex-direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $flex-direction;
}

// ******************** //


// ***************************************************** //


//  tooltip nav (right position)

[data-tooltip] {

  &::before {
    position: absolute;
    content: '';
    opacity: 0;
    z-index: 3;
    left: calc(100% + 8px);
    transition: all 50ms ease;
  }

  &::after {
    position: absolute;
    content: '';
    opacity: 0;
    z-index: 3;
    transform: scale(20%);
    -webkit-transform: scale(20%);
    -moz-transform: scale(20%);
    -o-transform: scale(20%);
    -ms-transform: scale(20%);
    transition:
      opacity 50ms ease-out,
      transform 50ms cubic-bezier(.57, -0.3, .38, 1.32);
  }
}

[data-tooltip]:hover {
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    display: block;
    content: '';
    background-color: #18191c;
    height: 8px;
    width: 8px;
    opacity: 1;
    left: calc(100% + 4px);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    display: block;
    content: attr(data-tooltip);
    color: $text-normal;
    font-size: font-size(default);
    font-weight: font-weight(semibold);
    line-height: 1;
    background-color: #18191c;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 1;
    left: calc(100% + 8px);
    transform: scale(100%);
    -webkit-transform: scale(100%);
    -moz-transform: scale(100%);
    -o-transform: scale(100%);
    -ms-transform: scale(100%);
  }
}

// data-tooltip-btn (top position)

[data-tooltip-btn] {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    content: '';
    opacity: 0;
    z-index: 10;
    transition: all 50ms ease;
  }

  &::after {
    position: absolute;
    content: '';
    opacity: 0;
    z-index: 10;
    transform: scale(20%);
    -webkit-transform: scale(20%);
    -moz-transform: scale(20%);
    -o-transform: scale(20%);
    -ms-transform: scale(20%);
    transition:
      opacity 50ms ease-out,
      transform 50ms cubic-bezier(.57, -0.3, .38, 1.32);
  }
}

[data-tooltip-btn]:hover {

  &::before {
    position: absolute;
    display: block;
    content: '';
    background-color: #18191c;
    height: 8px;
    width: 8px;
    opacity: 1;
    bottom: calc(100% + -3px);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    display: block;
    content: attr(data-tooltip-btn);
    color: $text-normal;
    font-size: font-size(medium);
    font-weight: font-weight(semibold);
    line-height: 1;
    background-color: #18191c;
    padding: 9px 10px;
    border-radius: 6px;
    box-sizing: border-box;
    white-space: nowrap;
    opacity: 1;
    bottom: calc(100% + 1px);
    transform: scale(100%);
    -webkit-transform: scale(100%);
    -moz-transform: scale(100%);
    -o-transform: scale(100%);
    -ms-transform: scale(100%);
  }
}

// data-tooltip-btn | audio room (top position)

[data-tooltip-test] {
  // position: relative !important;
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    content: '';
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: all 50ms ease;
  }

  &::after {
    position: absolute;
    content: '';
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transform: scale(20%);
    -webkit-transform: scale(20%);
    -moz-transform: scale(20%);
    -o-transform: scale(20%);
    -ms-transform: scale(20%);
    transition:
      opacity 50ms ease-out,
      transform 50ms cubic-bezier(.57, -0.3, .38, 1.32);
  }
}

[data-tooltip-test]:hover {

  &::before {
    position: absolute;
    display: block;
    content: '';
    background-color: #18191c;
    height: 8px;
    width: 8px; 
    opacity: 1;
    visibility: visible;
    bottom: calc(100% + -3px);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    display: block;
    content: attr(data-tooltip-btn);
    color: $text-normal;
    font-size: font-size(medium);
    font-weight: font-weight(semibold);
    line-height: 1;
    background-color: #18191c;
    padding: 9px 10px;
    border-radius: 6px;
    box-sizing: border-box;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    bottom: calc(100% + 1px);
    transform: scale(100%);
    -webkit-transform: scale(100%);
    -moz-transform: scale(100%);
    -o-transform: scale(100%);
    -ms-transform: scale(100%);
  }
}

// ***************************************************** //


//  main grid

.body-wrapper {
  display: grid;
  grid-template-columns: 72px 240px 1fr 24px;
  grid-template-rows: 100vh;
  font-size: 100%;
  overflow: hidden;
}

// left navigation

.nav {
  background-color: $background-black;
}

.nav-list {
  position: relative;
  @include flex-center(column);
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
}

.nav-list-item {
  margin-bottom: 8px;
  transition: all none;

  // indicator

  .item-status {
    position: relative;
    @include flex-center(row);
    transition: all none;

    .indicator {
      position: absolute;
      display: block;
      width: 4px;
      height: 0;
      background-color: #fff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      left: -16px;
      z-index: 6;
      opacity: 0;
      z-index: 2;
      transition: all 150ms ease-out;
    }

    &.update {

      .indicator {
        height: 8px;
        opacity: 1;
        left: -12px;
      }
    }

    &:hover {

      .indicator {
        height: 20px;
        opacity: 1;
        left: -12px;
      }
    }

    &.active {

      .indicator {
        height: 42px;
        opacity: 1;
        left: -12px;
      }

      .btn-round {
        border-radius: 16px;
      }
    }
  }
}

#discord-icon {
  color: $text-normal;
}

.btn-discord {
  &:hover {
    background-color: $primary-blue;

    #discord-icon {
      color: #fff;
    }
  }
}

// server panel

.panel {
  background-color: $background-panel-grey;
  color: #ffffff;
  position: relative;
}

.server-header {
  min-height: 48px;
  height: 132px;
  background-color: black;
  background-image: url('/app/assets/img/background.jpg');
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  user-select: none;
  box-shadow: $shadow;

  a {
    text-decoration: none;
    color: currentColor;
  }

  .btn-options {
    color: $text-normal;
  }
}

.server-profile {
  @include flex-center(row);
  justify-content: space-between;
  height: 48px;
  padding-left: 12px;
  padding-right: 14px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);

  .server-title {
    @include flex-center(row);
    flex-flow: nowrap;

    .server-name {
      font-size: 1rem;
      font-weight: font-weight(bold);
      line-height: 1.4rem;
      vertical-align: baseline;
      padding-left: 4px;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 0 1 auto;
    }
  }
}

.panel-room {
  display: flex;
  flex-flow: column;
  padding-right: 8px;
  padding-top: 18px;

  .panel-room-group {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }
}

.room-header {
  @include flex-center(row);
  justify-content: initial;
  text-transform: uppercase;
  color: $channel-default;
  width: 100%;
  padding-left: 2px;
  margin-bottom: 6px;

  &:hover {
    cursor: pointer;
    color: $text-normal;
  }

  .room-title {
    font-size: font-size(small);
    font-weight: 600;
    padding-left: 2px;
  }
}

.room-subgroup {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 20px;
  padding-left: 8px;
  margin-bottom: 1.5px;

  .container {
    display: flex;
    align-items: center;
    color: $channel-default;
    width: 100%;
    height: 34px;
    padding: 0 8px;
    padding-right: 6px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;

    .hidden {
      flex: none;
      visibility: hidden;
      justify-self: flex-end;
    }

    &:hover {
      color: $text-normal;
      // color: yellow;
      background-color: $background-hover-fill;

      .hidden {
        visibility: visible;
      }
    }
  }
}

.room-subgroup-header {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  flex: 0 1 auto;

  .room-subgroup-title {
    font-size: 1rem;
    margin-left: 6px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// room-subgroup - active | update

.room-subgroup {

  .hidden {

    .icon-fill-default {
      color: $icon-state-normal;
    }

    &:hover {
      .icon-fill-default {
        color: $icon-state-hover;
      }
    }
  }

  &.active {

    .container {
      background-color: $background-active-fill;

      .hidden {
        visibility: visible;
      }
    }
  }

  &.update {

    &::after {
      position: absolute;
      display: block;
      content: '';
      height: 8px;
      width: 4px;
      background-color: #fff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      left: 0;
      z-index: 1;
    }

    .container {
      color: #fff;
    }
  }
}


.panel-room .panel-room-group:last-child .room-subgroup:last-child {

  // background-color: black;

  .room-subgroup-header {
    // background-color: orangered;

    .room-subgroup-title {
      // background-color: palevioletred;
    }
  }
}

.panel-room .panel-room-group:last-child .room-subgroup:nth-child(3) {

  // background-color: rebeccapurple;
  // border: 1px solid red;
}


// room audio

.room-audio {
  position: absolute;
  display: flex;
  flex-flow: column;
  width: 100%;
  top: 100%;
  right: 0;
  margin-top: 1px;
  padding-left: 36px;

  .room-audio-item {
    padding: 0;
    height: 30px;
    border-radius: 4px;
    margin: 2px 0;
  }

  .item {
    @include flex-center(row);
    font-size: font-size(medium);
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    padding: 0 8px;
    text-decoration: none;

    .profile {
      @include flex-center(row);
      overflow-x: hidden;

      .profile-title {
        font-weight: font-weight(medium);
        color: $channel-default;
        line-height: 20px;
        text-decoration: none;
        padding-left: 8px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex: 0 1 auto;
      }
    }

    // room-audio-item - active | update

    .hidden {
      @include flex-center(row);
      flex-wrap: nowrap;
      margin-left: 4px;

      .mute {
        color: $channel-default;
        display: none;
      }

      .deafen {
        color: $channel-default;
        display: none;
      }

      .live {
        @include flex-center(row);
        display: none;
        color: #fff;
        font-size: font-size(small);
        font-weight: font-weight(semibold);
        line-height: 16px;
        vertical-align: baseline;
        text-transform: uppercase;
        background-color: $secondary-red;
        height: 16px;
        padding: 2px 6px;
        border-radius: 999px;
        margin-left: 2px;
      }
    }
  }

  .room-audio-item {

    &:hover {
      background-color: $background-hover-fill;

      .profile-title {
        color: $text-normal;
      }
    }
  }

  .room-audio-item {

    &.mute {
      .hidden .mute {
        display: block;
      }
    }

    &.deafen {
      .hidden .deafen {
        display: block;
      }
    }

    &.live {
      .hidden .live {
        display: flex;

      }
    }

  }

}